.hexagon3__wrapper {
	display: flex;
	flex-wrap: wrap;
	--wrapper-width: 30%;
	width: var(--wrapper-width);/* 全体の大きさを変更できる */
	margin-right: calc(-1 * var(--wrapper-width) / 3 * 0.25 * 2 - var(--wrapper-width) / 3 * 0.05 * 2);
	margin-bottom: 20%;
}
@media(max-width: 768px) {
	.hexagon3__wrapper {
		--wrapper-width: 100%;
		font-size: 3vw;
	}
}
.hexagons {
	width: calc(100% /3);
}
.honeycomb-area {
	display: flex;
	justify-content: center;
}
.hexagon-3_hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 200 / 173;/* 正六角形になる比率 */
	background-color: #333;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.inhex:hover{
    background-color: #a783cf;
}
.inhex:hover{
    background-color: #63319c;
}
.hexagon-3_hexagon>span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 90%;
	background-color: #fff;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
/* 2行目と3行目の六角形を上にずらして縁を重ねる */
.hexagon-3_hexagon:nth-of-type(2),
.hexagon-3_hexagon:nth-of-type(3) {
	margin-top: -5%;
}
/* 中央の列を下にずらす */
.honeycomb-area .hexagons-center {
	transform: translateY(calc(100% / 6));
}
/* 2列目と3列目の六角形を左にずらして縁を重ねる */
.honeycomb-area .hexagons-center,
.honeycomb-area .hexagons-right {
	margin-left: calc(-100% / 3 * 0.25 - 100% / 3 * 0.05);
}

.menubutton {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: black;
    cursor: pointer;
    z-index: 100;
    }
    .menubutton i {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 5px;
    background: white;
    transition: all .5s
    }
    .menubutton i:first-child {
    top: 10px;
    }
    .menubutton i:nth-child(2) {
    top: 50%;
    }
    .menubutton i:last-child {
    top: 30px;
    }
    .menubutton.open i:first-child {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    }
    .menubutton.open i:nth-child(2) {
    opacity: 0;
    }
    .menubutton.open i:last-child {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    }
    /* メニュー */
.menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    }
    .menu.open {
    left: 0;
    }
    .menu ul {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    }
    .menu li {
    padding: 5px 0;
    text-align: center;
    background: black;
    color: white;
    transition: all .5s;
    }
    .menu li:hover {
    background: white;
    color: black;
    }
    a {
        font-weight:bold;
        text-decoration:none;
        }
    a:link { /*アクセスしたことのないリンク*/
        color:#88d820;
    }
    a:visited { /*アクセスしたことのあるリンク*/
            color:#88d820;
    }
    a:hover {/*マウスが上に乗っている状態*/
        color:#88d820;
    }

    
    /* 数字がカウントアップされるローディング画面 */
#loading {
	color: white;
	width: 100%;
	height: 100vh;
	background:#323232;
	text-align:center;
	z-index: 999;
	position: fixed;
    top: 0; 
    left: 0;
}

#loading_text {
	color: white;
	width: 100%;
	top: 50%;
	left: 50%;
	z-index: 999;
	position: absolute;
	transform: translate(-50%, -50%);
}

.boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    margin-top: 100px;
  }
  .box {
    aspect-ratio: 16 / 9;
    width: 45vw;
    background-color: #dedede;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    transform: translateY(150px);
  }
  .is-active {
    /*要素を表示させる*/
    opacity: 0.5;
    visibility: visible;
    /*元の位置に戻す*/
    transform: translateY(0);
  }

  body {
    height: 100%;
  }
  
  body:after {/*擬似要素をつくる*/
    position: fixed;/*固定配置*/
    top: 0; left: 0;/*左上に固定*/
    width: 100%;
    height: 100%;/*画面全体を覆う*/
    content: "";
    background: #f89174;/*保険用*/
    background: -moz-linear-gradient(top, #ffffff 0%,#999999 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#999999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#999999 100%);
    z-index: -1;
  }
/* 観覧車 */
  .object1{ 
    width: 30%;
  }
  .circle { 
    top: 30%;
    left: 10%;
    width: 25%; /* 親要素の 30% の幅 */
    padding-top: 25%; /* width と同じ値 */
    border: 1px solid #333;
    border-radius: 50%;
    position: fixed;
  }
  
  .content {
    width: 50%; 
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    border: 1px solid #333;
  }
  
  /* top */
  .top { 
    animation: rotate_top 60s linear infinite;
  }
  @keyframes rotate_top { 
    0% { 
     transform: rotate(0deg) translateY(-100%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateY(-100%) rotate(-360deg);
    }
  }
  
  /* right */
  .right { 
    animation: rotate_right 60s linear infinite;
  }
  @keyframes rotate_right { 
    0% { 
     transform: rotate(0deg) translateX(100%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateX(100%) rotate(-360deg);
    }
  }
  
  /* bottom */
  .bottom { 
    animation: rotate_bottom 60s linear infinite;
  }
  @keyframes rotate_bottom { 
    0% { 
     transform: rotate(0deg) translateY(100%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateY(100%) rotate(-360deg);
    }
  }
  
  /* left */
  .left { 
    animation: rotate_left 60s linear infinite;
  }
  @keyframes rotate_left { 
    0% { 
     transform: rotate(0deg) translateX(-100%) rotate(0deg);
    }
    100% {  
      transform: rotate(360deg) translateX(-100%) rotate(-360deg);
    }
  }
/* タイピング */
  .object2{
    top: 50%;
    left: 60%;
    position: fixed;
  }
  
  /* 点滅 */
.blinking{
	-webkit-animation:blink 0.35s ease-in-out infinite alternate;
    -moz-animation:blink 0.35s ease-in-out infinite alternate;
    animation:blink 0.35s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


/* 読んだ割合 */
.object3{
  z-index: 1000;
}

.progress-circle {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw; /* Changed to viewport width unit */
  height: 10vw; /* Changed to viewport width unit */
  background-image: conic-gradient(rgb(0, 247, 255) 0% 0%, #d9d9d9 0% 100%);
  border-radius: 50%;
  margin: 0 auto;
  min-width: 80px; /* Added max-width to prevent it from getting too big */
  min-height: 80px; /* Added max-height to prevent it from getting too big */
}

.progress-circle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  font-size: clamp(16px,2vw,20px); /* Changed to viewport width unit */
  font-weight: 700;
  background: #fff;
  border-radius: 50%;
}

.dejirogo{
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
}
/* 準備中 */
.object4{visibility: hidden;}


.update{visibility: hidden;}
/* 更新中画面 */
/*.update{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  background-color: #fff;
  visibility: visible;
}
.update_now{
  margin-left: auto;
  margin-right: auto;
}
html,body {overflow: hidden;}
.object1{display: none;}
.object2{display: none;}
.object3{display: none;}
.object4{display: none;}
.menubutton{display: none;}

/* 更新中画面ここまで */


@media (max-width: 1023px){
  .object2{
    visibility: hidden;
  }
  .object1{
    visibility: hidden;
  }

  body:after {/*擬似要素をつくる*/
    position: fixed;/*固定配置*/
    top: 0; left: 0;/*左上に固定*/
    width: 100%;
    height: 100%;/*画面全体を覆う*/
    content: "";
    background: #f89174;/*保険用*/
    background: -moz-linear-gradient(top, #ffffff 0%,#000000 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#000000 100%);
    z-index: -2;
  }


  .object4{visibility: visible;}

  .dejiken {
    z-index: -1;
    position: fixed;
    top: 10%;
    left: 35%;
    font-size: 20vw;
    animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    color: rgba(0, 126, 165, 0.678);
  }
}
