html{
  background: rgb(138, 138, 138);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.square{
  height: 94%;
  width: 94%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{ 
  background: rgb(0, 0, 0);  
  animation: rotate 30s infinite linear; 
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }  
}
