header{
    text-align: center;
}
p1{
    font-size: xx-large;
}
.breadlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: clamp(14px,0.97vw,16px);
    }
    .breadlist li {
    padding: 0;
    }
    .breadlist li::after {
    content: '>';
    margin: 0 0.347vw;
    }
    .breadlist li:last-child::after {
    display: none;
    }
    nav{
        margin-left:auto;
        margin-right:auto;
        font-size: clamp(20px);
        }
        nav ul{
        margin: 0 ;
        padding: 0 ;
        }
        nav li{
        list-style: none;
        display: inline-block;
        width: 10%;
        min-width: 90px;
        }
        nav li:not(:last-child){
        border-right:2px solid #ddd;
        }
        nav a{
        text-decoration: none;
        color: #333;
        }
        nav a.current{
        color: #00B0F0;
        border-bottom:2px solid #00B0F0;
        }
        nav a:hover{
        color:#ff00d4;
        border-bottom:2px solid #ff00d4;
        }
        
h1{
    text-align: center;
}

.code-block { background: #2d2d2d; color: #f8f8f2; padding: 15px; border-radius: 5px; font-family: monospace; overflow-x: auto; }
.blog-image { max-width: 100%; height: auto; display: block; margin: 10px 0; }

.title{
    font-size: clamp(24px,2.08vw,30px);
    word-break: break-word;
}

.subtitle { font-size: 1.2rem; border-left: 5px solid #ccc; padding-left: 10px; margin: 10px 0; }


.text{
    line-height: 2;
    font-size: clamp(16px,1.042vw,20px);
    word-break: break-word;
}
.textContentsBox{
    text-align: center;
}
.textContents{
    display: inline-block;
    text-align: left;
}

footer{
    text-align: center;
    background-color: #e4e4e4;
    bottom: 0;
}

.B-img{
    width: clamp(30px, 80vw, 700px);
}

#searchResults{
    margin-left:auto;
    margin-right:auto;
    padding-top: clamp(16px,1.042vw,20px) ;
    list-style:none;
}

#searchInput{
    margin-left:auto;
    margin-right:auto;
}

iframe{
    width: clamp(16px, 80vw, 700px);
}

.header-img{
    padding-top: clamp(16px,1.042vw,20px) ;
    width: clamp(16px, 80vw, 300px);
    margin-left:auto;
    margin-right:auto;
}
textarea {
    resize: vertical;
    background-color: rgb(207, 207, 207);
  }